/* Universal Styles */

html {
  font-size: 18px;
  font-family: Helvetica;
  width: 100%
}

body {
  width: 100%;
  display: flex;
  justify-content: center;
}

.main_body {
  width: 960px;
  font-family: Helvetica;
}

/* Header Styles */

header {
  background-color: black;
  width: 100%;
}

.logo_container {
  display: flex;
  align-content: center;
}

.logo_container img {
  height: 1.5rem;
  margin: 0 0.5rem;
  padding-top: 0.33rem;
}

.logo_container h2 {
  color: white;
  font-size: 1rem;
  padding: 0.66rem;
}

/* Main Banner Styles */

.main_banner {
  height: 25rem;
  background-image: url(https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-5/moto.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
}

.arrival_box {
  width: 20rem;
  background-color: black;
  color: white;
  margin-top: 9rem;
  height: 11.5rem;
}

.arrival_box h3 {
  font-size: 1rem;
  font-weight: bold;
  margin-bottom: 0.25rem;
  padding-top: 2rem;
  padding-left: 3rem;
}

.arrival_box h1 {
  font-size: 2rem;
  font-weight: bold;
  padding-left: 3rem;
  padding-bottom: 2rem;
}

/* Nav Styles */

nav {
  height: 2.5rem;
  background-color: firebrick;
}

.full_navigation {
  display: flex;
  justify-content: space-around;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
}

.menu_navigation {
  display: flex;
  justify-content: center;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
}

li {
  color: white;
}

/*Product Grid Styles*/

.product_grid {
  display: flex;
  margin-top: 3rem;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.product_container {
  border: 4px solid black;
  width: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.product_img img {
  height: 9rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
  width: auto;
  max-width: 100%;
}

.product_text {
  color: white;
  background-color: black;
  width: 100%;
  text-align: center;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

/*Location & Hours Styles*/

.contact {
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin-top: 3rem;
  margin-bottom: 4rem;
}

.location_container {
  width: 35%;
}

.location_heading {
  color: white;
  background-color: black;
  padding: 1rem 0 1rem 2rem;
}

footer {
  height: 5rem;
  color: white;
  background-color: black;
  margin-top: 4rem;

}

.footer_text {
  padding: 2rem 0 2rem 0;
}

/*Tablet Media Query*/

@media only screen and (max-width: 1024px) {
  .product_grid {
    justify-content: space-between;
  }

  .product_container {
    width: 47%;

  }
  #glasses {
    display: none;
  }

  .full_navigation {
    display: none;
  }
  .arrival_box h3 {
    font-size: 0.75rem;
  }
  .arrival_box h1 {
    font-size: 1.5rem;
  }
  .location_container {
    width: 35%;
  }
}

/*Full Web Browser Media Query*/

@media only screen and (min-width: 1024px) {
  .menu_navigation {
    display: none;
  }
}

/*Phone Screen Media Query*/
@media only screen and (max-width: 300px) {
  .main_body {
    width: 470px;
  }

  .main_banner {
    height: 15rem;
    width: auto;
  }

  .arrival_box {
    margin-top: 10rem;
    margin-bottom: 2rem;
    width: 100%;
    height: 4.8rem;
  }

  .arrival_box h3 {
    padding-top: 1rem;
    padding-left: 2rem;
    padding-bottom: 0.5rem;
    font-size: 0.77rem;

  }
  .arrival_box h1 {
    padding-bottom: 1rem;
    padding-left: 2rem;
    font-size: 1rem;
  }
  #watch {
    display: none;
  }

  .product_grid {
    justify-content: center;
  }

  #pen {
    width: 90%;
  }

  nav {
    width: 100%;
    justify-content: center;
  }

  .contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  .location_container {
    width: 90%;
    margin-top: 0.5rem;
  }

  footer {
    text-align: center;
  }

}
